.tab__content.tab__content--specs {
    max-width: none;
}

.pdp__specs-table {
    width: 100%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.pdp__specs-table tr {
    font-size: .875rem;
}

td, th, tr {
    vertical-align: middle;
}

.pdp__specs-table td {
    vertical-align: top;
    text-align: left;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.pdp__specs-table td, .pdp__specs-table th {
    padding: 5px 0 5px 10px;
}

.pdp__specs-table tr:nth-child(2n) {
    background: #8e9595;
}

b, strong {
    font-weight: bolder;
}

table {
    width: 100%;
    margin-bottom: 1.5rem;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
}

@media (max-width: 960px) {
    .tab__container.current {
        display: block;
        overflow: inherit;
    }
}